<!DOCTYPE html>
<html lang="en">

<head>
	<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
	<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Media</title>

    <!-- Custom styles for this template -->
    <link href="https://blackrockdigital.github.io/startbootstrap-simple-sidebar/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/slick.css">
	<link rel="stylesheet" href="/css/style.css">
<!--     <script src='https://api.mapbox.com/mapbox.js/v3.1.1/mapbox.js'></script> -->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/css/scroll.css" rel="stylesheet">
	<link rel="stylesheet" href="/css/leaflet.label.css" />
	<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.css">
	<script type="text/javascript" src="/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="https://blackrockdigital.github.io/startbootstrap-simple-sidebar/css/simple-sidebar.css" />
	<script type="text/javascript" src="/js/isotope.pkgd.min.js"></script>
	<script type="text/javascript" src="/js/slick.js"></script>
</head>

<body style="height: 100%;">

    <div id="wrapper" class="toggled">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
			<div id="container" style="width:100%;" class="photos clearfix">
			  {{> images}}
			</div>
		</div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <h1>{{size}} Show</h1>
                <div class="slick-show">
					{{> images}}
  				</div>
<!--                 <a href="#menu-toggle" class="btn btn-secondary" id="menu-toggle">Toggle</a> -->
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Menu Toggle Script -->
    <script>
    $(document).ready(function(){
    	$('.slick-show').slick({ // Slick Slider initialization
			arrows: false
		});
		$('.slick-show').on('afterChange', function(slick, currentSlide){
				console.log(currentSlide.currentSlide);
			});
		var $container = $('#container');
		$container.isotope({
			itemSelector : '.photo',
			masonryHorizontal: {
				columnWidth: 50
			}
		});

	    $("#menu-toggle").click(function(e) {
	        e.preventDefault();
	        $("#wrapper").toggleClass("toggled");
	    });
	    $(".isotope-item").click(function(){
			var index = $(".isotope-item").index(this);
			$('.slick-show').slick('slickGoTo', index, false);
		});
	    // click on photo brings large photo to center screen
		// $('.photo img').on('click', function() {
		// 	$('#page-content-wrapper').html('<img src="'+this.src+'"/>');
		// });
	});
    </script>

    <style type="text/css">
    	.photos .photo {
  width: 100px;
  margin: 5px;
  float: left;
}

.photos .photo img {
  display: block;
  width: 100%;
}

#content {
  margin-left: 210px;
}

#content {
  height: 100%;
}

#wrapper.toggled #sidebar-wrapper {width: 238px;}

/**** Docs ****/

#content {
  max-width: 640px;
}

#content a:hover {
  border-bottom: 1px dotted;
}
    </style>


</body>

</html>
