<!DOCTYPE html>
<html>
  <head>
    <style>
       #map {
        height: 400px;
        width: 100%;
       }
    </style>
  </head>
  <body>
    <h3>My Google Maps Demo</h3>
    <div id="map"></div>
    <script>
      function initMap() {
        var uluru = {lat: -25.363, lng: 131.044};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 4,
          center: new google.maps.LatLng(-34.397, 150.644)
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
		var point = new google.maps.LatLng(-34.397, 150.644);

		var streetViewService = new google.maps.StreetViewService();
		var panorama = map.getStreetView();
      

		var streetViewMaxDistance = 100;          
		// var point = new google.maps.LatLng(-34.397, 150.644);
		// var streetViewService = new google.maps.StreetViewService();
		// var panorama = streetViewService.gmap.getStreetView();

		streetViewService.getPanoramaByLocation(point, streetViewMaxDistance, function (streetViewPanoramaData, status) {

		if(status === google.maps.StreetViewStatus.OK){
			var oldPoint = point;
			point = streetViewPanoramaData.location.latLng;

			var heading = google.maps.geometry.spherical.computeHeading(point,oldPoint);            

			panorama.setPosition(point);
			panorama.setPov({
				heading: heading,
				zoom: 1,
				pitch: 0
			});
			panorama.setVisible(true);

		}else{
			// no street view available in this range, or some error occurred
			console.log("Sorry! Street View is not available.");
        }
    });
}




    </script>

    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCv_nlgcXxbQp2hBtwUd118lGoW_Nhbpdc&callback=initMap">
    </script>
  </body>
</html>