<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>FREEDOM SUNG</title>

<script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.4/mapbox.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.4/mapbox.css' rel='stylesheet' />

<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="/css/scroll.css" rel="stylesheet">

<style type="text/css">
@font-face {
    font-family: gotham_book;
    src: url(gotham-book.ttf);
}
@font-face {
    font-family: gotham_light;
    src: url(gotham-light.otf);
}
</style>
</head>

<body>
<script src="/js/d3.min.js"></script>
<script src="/js/queue.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>

<div class='custom-popup' id='map'></div>
<div id="timeline"></div>
<div id="image"></div>
<div id="pointing"></div>
<div id="citymap"></div>
<div id="black"></div>

<!-- <img src="/img/logo-white.png" width="120" class="frontImg"> -->
<h2 id='h1' style="top: 27%;">FREEDOM SUNG</h2>
<h2 id='h2' style="top: 37%;">JOHANNESBURG, SOUTH AFRICA</h2>

<div id='bg_intro'>
	<a href='/test' style="text-decoration:none">
		<div id='h1_2'>FREEDOM SUNG</div>
	</a>
	<!-- <hr style="position:relative; opacity:0.6; margin:20px; margin-top:25px; height:0px;"> -->
	<!-- <img src="south_africa_sm.png" width="122" style="padding-top: 40px; border-radius: 8px; opacity: 0.82"> -->
	<div id='h1_3' style="opacity:1">
	Ethnographic fieldwork about freedom songs and protest dances served as tactics of 
		liberation struggles
	</div><br>
	<div id='h1_3' style="top:254px"><span style='color:yellow'>City : </span> Johannesburg, <br>South Africa</div>
</div>


<div id="cityname"></div>
<h5 id='h5' style="visibility: hidden; font-weight: bold">
<!-- 	<span style="font-size: 19px !important">Dec 2009 - Nov 2010</span>
        <a href='/test'><img src="/img/logo-white.png" width="120" ></a><br><br> -->
<!-- 	Ethnographic fieldwork about freedom songs and protest dances served as tactics of 
		liberation struggles in Johannesburg, South Africa -->
</h5>

<div id="current_date"></div>

<!-- <img id="southAftica" src="south_africa3.png" width="180px" style="position: fixed; left:2.5%; bottom: 80px">; -->

<p id='intro' class='intro'>
	At various moments in South Africa's history, protesters inverted political expectations by confronting brutal repression, not with matching armory, but with song and dance. Freedom songs and protest dances served as tactics of liberation struggles against the ravages of war, against colonialism, and most notably against apartheid. Upon apartheid’s demise, many South African communities are finding that their struggles for economic and political freedom continue.
</p>

<h4 id='scroll' style="bottom: -5px;">SCROLL DOWN</h4>
<!-- <h4 id='scroll' style="bottom: -5px;">SCROLL TO NAVIGATE</h4> -->

<div id="largeImgPanel" onclick="hideMe(this);">
    <img id="largeImg" style="height: 100%; margin: 0; padding: 0;" />
</div>

<script src="/js/timeline2.js"></script>
<script src="/js/scroll2.js"></script>

</body>
</html>